* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.header {
	display: flex;
	justify-content: center;
}

.container {
    width: 1129px;
	background: #ebbb4c;

}
.listContact {
	margin: 0 40px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contack__text {
	text-align: center;
	margin-bottom: 10px;
	color: white;
}

.addContack {
	display: flex;
	flex-direction: column;
	width: 393px;
	height: 278px;
	margin: 122px 368px ;
}

.title {
	
	width: 149px;
	height: 63px;
	position: absolute;
	margin-top: 300px;
	margin-left: 80px;
	color: white;
	font-family: 'Saira Condensed', sans-serif;
}

p {
	line-height: 0.9;
  }


.title_item1 {
	font-weight: 400;
	font-size: 40px;
	font-weight: 400;
	text-align: center;

}
.title_item2 {
	font-size: 25px;
	font-weight: 400;
	text-align: center;

}

.data_show {
	position: absolute;
	font-family: 'Saira Condensed', sans-serif;
	margin-top: 300px;
	margin-left: 930px;
	color: white;
}

#date {
	font-size: 40px;
}

.caktus{
	position: absolute;
	margin-top: 370px;
	height: 150px;
}
form{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	
}
form label{
	font-weight: 500;
	opacity: 0.7;
	
}
form label, form input{
	opacity: 0.5;
	display: block;
	outline: none;
	/* border-radius: 25px; */
	border: none;
	background: rgb(226, 195, 154);
}
form label, form input:hover {
	opacity: 1;
	background: white;
}

form input[type = "text"], form input[type = "number"]{
	color: #000;
	font-family: inherit;
	font-size: 16px;
	padding: 10px 18px;
	margin: 8px 0;
	transition: all 0.5s ease;
}
form input:focus{
	background: #252525;
	color: #fff;
}

.input-btns{
	text-align: center;
}

/*** utility button styling ***/
#add-btn{
	display: block;
	width: 160px;
	margin: 10px auto;
	font-size: 15px;
	font-weight: 500;
	/* font-family: inherit; */
	padding: 10px;
	border: none;
	color: #000;
	background: rgb(226, 195, 154);
	cursor: pointer;
	opacity: 0.5;
	transition: all 0.5s ease;
	outline: none;
}

#delete-btn {
	display: block;
	width: 160px;
	margin: 5px auto;
	font-size: 15px;
	font-weight: 500;
	padding: 5px;
	border: none;
	color: #000;
	background: rgb(226, 195, 154);
	cursor: pointer;
	opacity: 0.5;
	transition: 0.5s;
	outline: none;
}

#add-btn:hover{
	opacity: 1;
	border: 3px solid #fff;
}

#delete-btn:hover{
	opacity: 1;
	background: white;
}

#add-btn{
	padding-right: 5px;
}

.contack__list--item{
	width: 200px;
	display: block;
	padding: 4px 0;
	/* text-align: center; */
	opacity: 0.9;
}

.photo__img {
	width: 60px;
	height: 60px;
	margin: 5px 0 5px;
	overflow: hidden
	
}

img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	margin: auto;
	
	}

#labelling {
     font-weight: 700;
 }
 .contact-item{
     color: #000;
     border-radius: 10px;
     padding: 10px 25px;
     margin: 15px 10px;
     /* background: #fff; */
     box-shadow: 0 0 6px #777;
 }

.temp__avatar {
	color: ivory;
	opacity: 0.5;
	text-decoration: none;
}
.link {
	text-decoration: none;
}
.contact-id {
	display: none;
}